<{include file="_header.part"}>

<h1>ペンラシーターZとは</h1>
ペンラシーターZは、PCなしで今流行りのペンライトシートを作れるアプリです。<br>
<br>
アプリで推しメンの名前や好きなマークで絵柄を作成し、ダウンロードできます。<br>
お手持ちのプリンターやコンビニのネットプリント、kinkosなどでプリントしてください。<br>
OHPシートに印刷をするとキレイですが、普通紙でもご利用いただけます。<br>
<br>
あとはお手持ちのペンライトの筒の部分に入れて、思い切り推しメンを応援するだけ！<br>
<br>
<br>
<h2>基本の使い方</h2>
<h3>新規作成</h3>
<ul>
<li>アプリトップの「ペンライトシートを作る」を選択</li>
</ul>
<h3>テキストを配置する</h3>
<ul>
<li>「テキスト追加」を選択</li>
<li>「テキスト」欄にお好きな文字列を入力</li>
<li>お好きな「フォント」を選択</li>
<li>「追加」を選択</li>
<li>お好きなサイズに編集し、配置</li>
</ul>
<h3>スタンプを配置する</h3>
<ul>
<li>「スタンプ追加」より挿入したいスタンプを選択</li>
<li>「スタンプ追加」を選択</li>
<li>お好きなサイズに編集し、配置</li>
</ul>
<h3>テキスト・スタンプを削除する</h3>
<ul>
<li>削除したいテキストまたはスタンプを選択し「削除」を選択</li>
</ul>
<h3>テキストを編集する</h3>
<ul>
<li>編集したいテキストを選択し「テキスト編集」を選択</li>
<<li>「テキスト」欄の文字列を編集</li>
<li>お好きな「フォント」に変更</li>
<li>「編集」を選択</li>
</ul>
<h3>作成したデータをダウンロードする</h3>
<ul>
<li>右上「ダウンロードリンク表示」を選択する</li>
<li>「保存する」を選択</li>
<li>保存完了</li>
</ul>
<h3>印刷する（セブンイレブン「netprint」アプリ使用時）</h3>
<ul>
<li>ギャラリーで保存された画像を選択</li>
<li>左下のシェアボタンを選択</li>
<li>「netprint」のアプリを選択</li>
<li>「netprint」アプリの操作方法に従って操作の上、セブンイレブンのコピー機にて印刷</li>
</ul>
<h3>ペンライトに挿入する</h3>
<ul>
<li>印刷された枠線に沿って切り取る</li>
<li>ペンライトの筒を外す</li>
<li>シートを丸めて挿入する</li>
</ul>
<b>※印刷サイズは、キングブレード（通常サイズ）、キングブレードミニに対応</b>
<{include file="_footer.part"}>

