<{include file="_header.part"}>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen and (max-width: 768px) and (min-width: 481px)" >

<{*トップ画面*}>

<div class="top">
  <div class="top__header">
    <img src="image/penra_z_logo_color.png" alt="キングブレーダーZロゴ" class="top__header-logo">
  </div>
  <a href="./edit.php" class="top__content-box btn-style">
    ペンライトシートを作る
    <span>レギュラーサイズ 144×90mm</span>
  </a>
  <a href="./edit.php?type=mini" class="top__content-box btn-style">
    ペンライトシートを作る
    <span>ミニサイズ 116×90mm</span>
  </a>
  <!-- <div class="top__content-box clearfix">
    <div class="top__content-box-inner">
      <div class="top__content-box-inner--heading">
        <img src="" alt="作品画像" class="top__content-img">
      </div>
      <div class="top__content-box-inner--body">
        <span class="top__content-name input-style">
          作品名
        </span>
        <div class="top__content-edit">
          <a href="" class="top__content-btn btn-style btn-style__succes">
            編集
          </a>
          <span class="top__content-btn btn-style btn-style__default">
            削除
          </span>
        </div>
      </div>
    </div>
  </div> -->
  <a href="./help.php" class="top__content-box btn-style">
    ヘルプ
  </a>
</div>

<{include file="_footer.part"}>

